In [1]:
import pandas as pd

## 2.4

In [16]:
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

"""
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """

def create_medications(names, counts):
    
    medications= pd.Series(data= counts, index= names)
    
    return medications

"""
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """

def get_percent(medications, name):
    
    percent = medications.loc[name]/sum(medications) * 100
    
    return percent

medications = create_medications(names, counts)

print(get_percent(medications, 'chlorhexidine'))

37.5

In [2]:
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({'Incomes':income, 'Expenses':expenses}, index= years)
    
    return df

def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    if year in df.index:
        profit= df.loc[year, 'Incomes']-df.loc[year, 'Expenses']
    else:
        profit= None
        
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

-74

In [3]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')

display(melb_data)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [4]:
print(melb_data.loc[15, 'Price'])

1310000.0

In [5]:
print(melb_data.loc[90, 'Date'])

10/09/2016

In [12]:
s = melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize'] 
print(s)

2.7857142857142856

In [13]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

(3, 2)

In [14]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [2]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')

print(melb_data['Propertycount'].max())

21650.0

In [3]:
print(melb_data['Distance'].std())

5.868724943071711

In [4]:
building_area_median = melb_data['BuildingArea'].median()
building_area_mean = melb_data['BuildingArea'].mean()
print(abs(building_area_median - building_area_mean)/building_area_mean)

0.09764079662364533

In [7]:
numbers_moda = pd.Series([1, 2, 4, 2, 3, 2, 1, 5, 6], name='numbers_moda')
print(numbers_moda.mode())

0    2
Name: numbers_moda, dtype: int64

In [9]:
print(melb_data['Rooms'].mode())

0    3
Name: Rooms, dtype: int64

In [12]:
print(melb_data[melb_data['Bathroom'] < 1].shape[0])

34

In [13]:
print(melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0])

5

In [14]:
print(melb_data[melb_data['BuildingArea'] == 0]['Price'].min())

412500.0

In [31]:
round(melb_data[(melb_data['Price'] < 1.e6) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean())

769239

In [34]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3.e6)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

## Закрепление знаний

In [44]:
import pandas as pd

In [35]:
student_data=pd.read_csv('data/students_performance.csv', sep=',')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [36]:
print(student_data.shape)

(1000, 8)

In [37]:
print(student_data.loc[155]['writing score'])

88

In [38]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [40]:
print(student_data['math score'].mean())

66.089

In [41]:
print(student_data['race/ethnicity'].mode())

0    group C
Name: race/ethnicity, dtype: object

In [63]:
round(student_data[student_data['test preparation course']=='completed']['reading score'].mean())

74

In [67]:
student_data[student_data['math score']==0].shape

(1, 8)

In [77]:
mask=round(student_data[student_data['lunch']=='standard']['math score'].mean())
print(mask)
mask1=round(student_data[student_data['lunch']=='free/reduced']['math score'].mean())
print(mask1)

70
59

In [79]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [84]:
a = round(student_data[student_data['race/ethnicity']=='group A']['writing score'].median())
c = round(student_data[student_data['race/ethnicity']=='group C']['writing score'].mean())
print(c-a)

6