# EDA-1. Введение в разведывательный анализ данных. Алгоритмы и методы EDA

## Знакомство с данными: винные обзоры

In [8]:
import pandas as pd

data = pd.read_csv('data/wine.csv')
data.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Задание 4.1

Сколько всего дегустаторов приняло участие в винных обзорах?

In [2]:
print(data['taster_name'].nunique())

19

Задание 4.2

Какова максимальная цена за бутылку в этом наборе данных? Введите целое число.

In [3]:
max_price = data['price'].max()


print(max_price)

3300.0

## Практика

Задание 5.3

Проанализируйте датасет на наличие дублирующихся винных обзоров. Если дублирующиеся записи есть, удалите их.
В поле ниже введите, сколько дублирующихся записей вам удалось обнаружить.

In [11]:
duple_columns = list(data.columns)

mask = data.duplicated(subset=duple_columns)
data_duplicates = data[mask]


print(f'Число найденных дубликатов: {data_duplicates.shape[0]}')


data_deduped = data.drop_duplicates(subset=duple_columns) 


print(f'Результирующее число записей: {data_deduped.shape[0]}')

Число найденных дубликатов: 9983
Результирующее число записей: 119988

Задание 5.4

Проверьте датасет на наличие пропусков в данных.
В каких из представленных признаках были обнаружены пропуски?

In [13]:
data_deduped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119988 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119929 non-null  object
 1   description            119988 non-null  object
 2   designation            85443 non-null   object
 3   points                 119988 non-null  int64
 4   price                  111593 non-null  float64
 5   province               119929 non-null  object
 6   region_1               100428 non-null  object
 7   region_2               46769 non-null   object
 8   taster_name            95071 non-null   object
 9   taster_twitter_handle  90542 non-null   object
 10  title                  119988 non-null  object
 11  variety                119987 non-null  object
 12  winery                 119988 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.8+ MB

In [14]:
low_information_cols = []

for col in data_deduped.columns:
    top_freq = data_deduped[col].value_counts(normalize=True).max()
    nunique_ratio = data_deduped[col].nunique()/data_deduped[col].count()
    if top_freq > 0.95:
        low_information_cols.append(col)
        print(f'{col}:{round(top_freq * 100, 2)}% одинаковых значений')
    if nunique_ratio > 0.95:
        low_information_cols.append(col)
        print(f'{col}:{round(nunique_ratio * 100, 2)}% уникальныйх значений')

description:99.97% уникальныйх значений
title:99.04% уникальныйх значений

In [15]:
data_information = data_deduped.drop(low_information_cols, axis=1)


print(f'Результирующее число признаков: {data_information.shape[1]}')

Результирующее число признаков: 11

In [16]:
cols_null_percent = data_information.isnull().mean() * 100
cols_with_null = cols_null_percent[cols_null_percent>0].sort_values(ascending=False)


print(cols_with_null)

region_2                 61.021936
designation              28.790379
taster_twitter_handle    24.540787
taster_name              20.766243
region_1                 16.301630
price                     6.996533
country                   0.049172
province                  0.049172
variety                   0.000833
dtype: float64

In [18]:
data_drop = data_information.copy()

thresh = data_drop.shape[0] * 0.7
data_drop = data_drop.dropna(how='any', thresh=thresh, axis=1)
data_drop = data_drop.dropna(how='any', axis=0)
data_drop.isnull().mean()

country                  0.0
designation              0.0
points                   0.0
price                    0.0
province                 0.0
region_1                 0.0
taster_name              0.0
taster_twitter_handle    0.0
variety                  0.0
winery                   0.0
dtype: float64