In [1]:
import pandas as pd

2.4

In [2]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [3]:
countries_df['density']=(countries_df['population']/countries_df['square'])*1.e6
print(round(countries_df['density'].mean(), 2))

84.93

3.3

In [4]:
melb_data=pd.read_csv('data/melb_data_ps.csv', sep=',')

In [5]:
melb_data['Date']=pd.to_datetime(melb_data['Date'], dayfirst=True)#переводим дату в формат datetime

In [6]:
melb_data['WeekdaySale']=melb_data['Date'].dt.dayofweek

weekend_count=melb_data[(melb_data['WeekdaySale']== 5) | (melb_data['WeekdaySale']==6)].shape[0]
display(weekend_count)

12822

3.4

https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv

In [7]:
ufo_data=pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')

In [8]:
ufo_data['Time']=pd.to_datetime(ufo_data['Time'], dayfirst=True)#переводим в формат datetime
ufo_df=pd.DataFrame(ufo_data)

ufo_df['yesr']=ufo_df['Time'].dt.year# делаем столбец годов
ufo_df['yesr'].mode()# ищем год с наибольшем количеством обнаружений

0    1999
Name: yesr, dtype: int64

3.5

In [9]:
ufo_df['Date']=ufo_df['Time'].dt.date #добавляем столбец только с датой
print(ufo_df[ufo_df['State']=='NV']['Date'].diff().dt.days.mean()) #переводим интервал в дни и находим среднее

68.72084805653711

4.2

In [10]:
def get_weekend(weekday):
    if (weekday == 5) or (weekday == 6):
        return 1
    else:
        return 0

melb_data['Weekend']=melb_data['WeekdaySale'].apply(get_weekend)
print(round(melb_data[melb_data['Weekend']==1]['Price'].mean(), 2))

1081198.64

4.3

In [11]:

melb_df=pd.read_csv('data/melb_data_ps.csv', sep=',')

popular_seller=melb_df['SellerG'].value_counts().nlargest(49).index 
# заменяем значения улиц, не попавших в список популярных на строку 'other'
melb_df['SellerG']=melb_df['SellerG'].apply(lambda x:x if x in popular_seller else 'other')

a=melb_df[melb_df['SellerG']=='Nelson']['Price'].min()
b=melb_df[melb_df['SellerG']=='other']['Price'].min()
print(round(a/b, 1))

1.3

5.2

In [12]:


popular_suburb=melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb']=melb_df['Suburb'].apply(lambda x:x if x in popular_suburb else 'other')
melb_df['Suburb']=melb_df['Suburb'].astype('category')

melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: category(1), float64(6), int64(8), object(8)
memory usage: 2.3+ MB

## Закрепление знаний

6.1

In [32]:
citibike_tripdata=pd.read_csv('data/citibike-tripdata.csv', sep=',')
citibike_tripdata.info()
citibike_tripdata.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

6.3

In [15]:
citibike_tripdata['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

6.4

In [16]:
citibike_tripdata['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

6.5

In [29]:
mode_usertype=citibike_tripdata['usertype'].mode()[0]
count_mode_usertype=citibike_tripdata[citibike_tripdata['usertype']==mode_usertype].shape[0]
print(round(count_mode_usertype/citibike_tripdata.shape[0], 2))

0.77

6.6

In [38]:
men=citibike_tripdata[citibike_tripdata['gender']==1].shape[0]
women=citibike_tripdata[citibike_tripdata['gender']==2].shape[0]
print(max([men, women]))

183582

6.7

In [46]:
citibike_tripdata['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

6.8

In [49]:
citibike_df=citibike_tripdata.copy()
citibike_df.drop(['start station name', 'end station name'], axis=1, inplace=True)
citibike_df.shape

(300000, 12)

6.9

In [56]:

citibike_df[citibike_df['age'] > 60].shape[0]

11837

6.10

In [70]:
citibike_df['starttime']=pd.to_datetime(citibike_df['starttime'])
citibike_df['stoptime']=pd.to_datetime(citibike_df['stoptime'])
citibike_df['trip duration']=citibike_df['stoptime'] - citibike_df['starttime']
display(round(citibike_df['trip duration'].mean().seconds))

1126

6.11

In [77]:

weekend = citibike_df['starttime'].dt.dayofweek
citibike_df['weekend']=weekend.apply(lambda x:1 if x == 5 or x == 6 else 0)
citibike_df['weekend'].sum()

115135

6.12

In [78]:
def get_time(time):
    if 0<=time<=6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <=23:
        return 'evening'

citibike_df['time of day']=citibike_df['starttime'].dt.hour.apply(get_time)
day = citibike_df[citibike_df['time of day']=='day'].shape[0]
night = citibike_df[citibike_df['time of day']=='night'].shape[0]
print(round(day/night))

9